
Button{
    -fx-background-color: #77b5fe;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 5px;
}

TextArea, ChoiceBox{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 8px;
}
.retour{
    -fx-background-color: #f7f4b0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 5px;
}

.whiteBone{
    -fx-text-fill: #f9f6ee;
}

.titre{
    -fx-background-color: #8ea2c6;
}

.infoSup{
    -fx-background-color: #8ea2c6;
    -fx-border-radius: 15px;
    -fx-border-color: #f9f6ee;
    -fx-border-width: 1px;
    -fx-background-radius: 15px;
    -fx-padding: 5px;
    
}

.arrierePlan{
    -fx-background-color: #D3D3D3;
}
.ArriereCentre{
-fx-background-color: #f7d7ad;}
.list-cell:even{
    -fx-background-color:#ffff6b;
}
.list-cell:odd{
    -fx-background-color:#ff6f7d;
}
.list-cell:selected{
-fx-background-color:#d1d1d1;
-fx-color:#000000;}
