
Button{
    -fx-background-color: #9ac8fe;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 5px;
}

TextArea, ChoiceBox{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 8px;
}
.retour{
    -fx-background-color: #f7f4b0;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-margin: 5px;
}

.whiteBone{
    -fx-text-fill: #f9f6ee;
}

.titre{
    -fx-background-color: #b4aa9d;
}

.infoSup{
    -fx-background-color: #b4aa9d;
    -fx-border-radius: 15px;
    -fx-border-color: #f9f6ee;
    -fx-border-width: 1px;
    -fx-background-radius: 15px;
    -fx-padding: 5px;
    
}

.arrierePlan{
    -fx-background-color: #D3D3D3;
}
.ArriereCentre{
    -fx-background-color: #f7d7ad;
}

.list-cell:even{
    -fx-background-color:#f5f98b;
}

.list-cell:odd{
    -fx-background-color:#f8aaaa;
}
.list-cell:selected{
-fx-background-color:#b4aa9d;
-fx-color:#000000;}
